@use "variables" as *;

.breadcrumb{
    align-items: center;
    .breadcrumb-item{
        align-items: center;
        a{
            color: #707070;
            font-size: 14px;
            text-decoration: none;
        }
        &.active{ 
            a{
                color: $primary !important;
                font-weight: 550;
            }
            font-size: 14px;
            font-weight: 500;
        }
    }
}