@media (max-width: 1200px) {

    .modal-lg,
    .modal-xl {
        width: 95%;
        max-width: 95%;
    }
}

@media (max-width: 1000px) {
    .sidebar {
        &:not(:hover) {
            width: 60px !important;
            padding: 0px 10px !important;

            .tree-cell,
            .tree-line {
                display: none !important;
            }

            li,
            .sub-menu {
                display: flex;
                align-items: center !important;
                justify-content: center !important;
                width: 40px !important;
                padding: 0px !important;
                margin: 0px !important;
                height: 40px !important;


                a {
                    display: none;
                }

                i {
                    margin: 0px !important;
                }
            }

            .icon-chevron-down,
            .icon-chevron-up {
                display: none;
            }

            .sub-menu {
                margin-top: 2px !important;
            }

        }

        &:hover {
            position: absolute;
            left: 0px;
            top: 0px;
            bottom: 0px;
            z-index: 1000;
        }
    }

    .content {}

    .col-ms-hidden {
        display: none;
    }


}

@media (max-width: 780px) {
    .title-container {
        flex-direction: column;

        p {
            margin-bottom: .5rem;
        }

        button {
            max-width: fit-content;
            margin-left: auto;
            margin-bottom: 1rem;
        }
    }

    .table-parent {
        height: calc(100vh - 310px) !important;
    }

    .list-header-container {
        flex-direction: column;
        align-items: baseline !important;
        gap: .5rem;

        .actions {
            width: fit-content !important;
        }
    }

    .modal-menu {

        &:not(:hover) {
            width: 80px !important;

            .menu-header {
                display: flex;
                justify-content: center;

                h5 {
                    font-size: 0;
                    display: flex;
                    justify-content: center;

                    i {
                        font-size: 1.25rem;
                        margin: 0 !important;
                    }
                }
            }

            .menu {
                ul {
                    li {
                        padding: 10px !important;
                        display: flex;
                        justify-content: center;

                        span {
                            display: none;
                        }

                        i {
                            margin: 0 !important;
                        }
                    }
                }
            }
        }

        &:hover {
            position: absolute;
            z-index: 10000;
        }
    }

    .regions {
        flex-direction: column;
    }
    .region-list{
        width: 100% !important;
    }
    .accounts{
        display: flex;
        gap: 1rem
    }
    .bank-account{
        min-width: max-content;
    }
}

@media(max-width: 480px) {}