@use "variables" as *;

.text-xs{
    font-size: 11px;
}
.text-sm{
    font-size: 12px;
}
.text-md{
    font-size: 16px;
}
.text-lg{
    font-size: 20px;
}
.text-xl{
    font-size: 25px;
}
.title{
    font-weight: 500;
    font-size: 28px;
}
.subtitle{ 
    font-size: 14px;
}
.text-link{
    font-weight: 550;
    color: $link;
    cursor: pointer;
}