<nav class="navbar navbar-expand-lg">
  <div class="container">
    <div class="navbar-brand-group">
      <div class="logo-section">
        <img src="assets/images/logo.png" alt="Logo" class="logo-img mb-1" />
      </div>
      <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
        aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
    </div>
    <div class="collapse navbar-collapse" id="navbarScroll" *ngIf="currentUser">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">Home</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/reactive" routerLinkActive="active">Reactive</a>
        </li>
      
        <li class="nav-item">
          <a class="nav-link" routerLink="/active" routerLinkActive="active">Active</a>
        </li> -->

          <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/success" routerLinkActive="active">Success</a>
        </li> -->


        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/cancelled" routerLinkActive="active">Cancelled</a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/expired" routerLinkActive="active">Expired</a>
        </li> -->
      </ul>
    </div>

    <div class="top-actions" *ngIf="currentUser">


      <div class="user-section">
        <div class="user-info" *ngIf="currentUser">
          <div class="user-details">
            <p class="user-name">{{ currentUser.name }} {{ currentUser.lastName }}</p>
            <p class="user-email">{{ currentUser.email }}</p>
          </div>
        </div>
        <div class="dropdown avatar-dropdown">
          <button class="avatar-wrapper dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img [src]="currentUser?.photo || 'assets/images/no-photo.jpg'" class="avatar" alt="User" />
            <span class="online-indicator"></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-end">
            <!-- <li><a class="dropdown-item" href="#">My Profile</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li>
              <hr class="dropdown-divider" />
            </li> -->
            <li><a class="dropdown-item" href="#" (click)="logout(); $event.preventDefault()">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>